<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <meta charset="UTF-8">
    <title>О нас</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Favicon-->
    <link rel="shortcut icon" href="../static/images/icon/favicon.png" type="image/x-icon">

    <!-- Web Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Pacifico%7CSource+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&amp;amp;subset=latin-ext,vietnamese" rel="stylesheet">


    <!-- Vendor CSS-->
    <link rel="stylesheet" type="text/css" href="../static/libs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/libs/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../static/libs/animate/animated.css">
    <link rel="stylesheet" type="text/css" href="../static/libs/owl.carousel.min/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="../static/libs/jquery.mmenu.all/jquery.mmenu.all.css">
    <link rel="stylesheet" type="text/css" href="../static/libs/pe-icon-7-stroke/css/pe-icon-7-stroke.css">
    <link rel="stylesheet" type="text/css" href="../static/libs/direction/css/noJS.css">
    <link rel="stylesheet" type="text/css" href="../static/libs/prettyphoto-master/css/prettyPhoto.css">
    <link rel="stylesheet" type="text/css" href="../static/libs/slick-sider/slick.min.css">
    <link rel="stylesheet" type="text/css" href="../static/libs/countdown-timer/css/demo.css">

    <!-- Template CSS-->
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    <link rel="stylesheet" type="text/css" href="../static/css/home.css">

  </head>
  <body class="page about-us">
    <div id="preloaderKDZ"></div>
    <div class="yolo-site">
      <header class="header yolo-header-style-10">
        <div class="yolo-top-bar">
          <div class="container">
            <div class="row">
              <div class="top-sidebar top-bar-left col-md-4">
                <aside id="text-11" class="widget widget_text">
                  <div class="textwidget">
                    <div>Добро пожаловать!</div>
                  </div>
                </aside>
              </div>
              <div class="top-sidebar top-bar-right col-md-8">
                <aside id="text-6" class="widget widget_text">
                  <div class="textwidget"><i class="fa fa-home"></i> Свободный 69, Красноярск <i style="margin-left: 15px" class="fa fa-phone"></i> + 7 (111) 111 11 11<i style="margin-left: 15px" class="fa fa-clock-o"></i> Пн-Пт: 9.00 - 20.00</div>
                </aside>
              </div>
            </div>
          </div>
        </div>
        <div class="mobile-menu">
          <div class="col-3 text-left"><a href="#primary-menu"><i class="fa fa-bars"></i></a></div>
          <div class="col-3 text-center">
            <div class="logo">
              <h1><a href="{% url 'main_page' %}"><img src="../static/images/logo/logo.png" alt="logo"/></a></h1>
            </div>
          </div>
          <div class="col-3 text-right">
            <div class="header-right">
              <div class="search-button-wrapper header-customize-item style-default">
                <div class="icon-search-menu"><i class="wicon fa fa-search"></i></div>
                <div class="yolo-search-wrapper">
                  <input id="search-ajax" placeholder="Enter keyword to search" type="search"/>
                  <button class="search"><i class="fa fa-search"></i></button>
                  <button class="close"><i class="pe-7s-close"></i></button>
                </div>
              </div>
              <div class="shopping-cart-wrapper header-customize-item with-price">
                <div class="widget_shopping_cart_content">
                  <div class="widget_shopping_cart_icon"><i class="wicon fa fa-shopping-bag"></i><span class="total">0</span></div>
                  <div class="cart_list_wrapper">
                    <div class="scroll-wrapper cart_list product_list_widget scrollbar-inner">
                      <ul class="cart_list product_list_widget scrollbar-inner scroll-content">
                        <li class="empty">
                          <h4>Ваша корзина пуста</h4>
                          <p>Для добавления товаров перейдите в каталог.</p>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="header-logo">
          <h1><a href="{% url 'main_page' %}"><img src="../static/images/logo/logo.png" alt="logo"/></a></h1>
        </div>
        <div class="header-bottom">
          <div class="container">
            <div class="main-nav-wrapper">
              <div class="header-left">
                <nav id="primary-menu" class="main-nav">
                  <ul class="nav">
                    <li class="active menu-home"><a href="{% url 'main_page' %}">Главная</a>

                    </li>
                    <li class="menu-item menu-shop"><a href="{% url 'product_shop' %}">Магазин</a>
                      <ul class="sub-menu">
                        <li class="menu_style_dropdown menu-item">
                            <li class="menu-item menu-item-object-page"><a href="{% url 'product_shop' %}">Список товаров</a></li>
                            <li class="menu-item menu-item-object-page"><a href="{% url 'product_cart' %}">Корзина</a></li>
                            <li class="menu-item menu-item-object-page"><a href="{% url 'my_account' %}">Мой профиль</a></li>
                            <li class="menu-item menu-item-object-page"><a href="{% url 'product_wishlist' %}">Список желаний</a></li>

                        </li>
                      </ul>
                    </li>
                    <li class=" menu-blog"><a href="{% url 'about_us' %}">О нас</a>
                    </li>
                    <li class="menu-blog"><a href="{% url 'contact_us' %}">Контакты</a>
                    </li>

                  </ul>
                </nav>
                <!-- .header-main-nav-->
              </div>

              <div class="header-right">
                <div class="search-button-wrapper header-customize-item style-default">
                  <div class="icon-search-menu"><i class="wicon fa fa-search"></i></div>
                  <div class="yolo-search-wrapper">
                    <input placeholder="Enter keyword to search" type="search"/>
                    <button class="search"><i class="fa fa-search"></i></button>
                    <button class="close"><i class="pe-7s-close"></i></button>
                  </div>
                </div>
                <div class="shopping-cart-wrapper header-customize-item with-price">
                  <div class="widget_shopping_cart_content">
                    <div class="widget_shopping_cart_icon"><i class="wicon fa fa-shopping-bag"></i><span class="total">0</span></div>
                    <div class="cart_list_wrapper">
                      <div class="scroll-wrapper cart_list product_list_widget scrollbar-inner">
                        <ul class="cart_list product_list_widget scrollbar-inner scroll-content">
                          <li class="empty">
                            <h4>Ваша корзина пуста</h4>
                            <p>Для добавления товаров перейдите в каталог.</p>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="header-customize-item canvas-menu-toggle-wrapper"></div>
                <div class="canvas-menu-toggle"><i class="fa fa-align-right"></i></div>
              </div>
            </div>

          </div>
        </div>
        <nav class="yolo-canvas-menu-wrapper dark ps-container"><a href="#" class="yolo-canvas-menu-close"><i class="fa fa-close"></i></a>
          <div class="yolo-canvas-menu-inner sidebar">
            <aside id="text-12" class="widget widget_text">
              <div class="textwidget">
                <div class="begreen-widget ad-spot text-center">
                  <div class="about-image"><img src="images/demo/off-menu.png" alt="demo"/></div>
                  <h2 class="name_author">Be Green</h2>
                  <div class="about-description text-center">I love life and the unique position of being a working artist. I love the thrill of the hunt and am an avid vintage hound, sniffing out the best one-of-a-kinds.</div>
                </div>
              </div>
            </aside>
            <aside id="text-13" class="widget widget_text">
              <div class="textwidget"><a href="#"><img src="images/demo/bn-bs.jpg" alt="demo"/></a></div>
            </aside>
            <aside id="yolo-social-profile-6" class="widget widget-social-profile">
              <ul class="social-profile social-icon-bordered">
                <li><a title="Facebook" href="#" target="_blank"><i class="fa fa-facebook"></i>Facebook</a></li>
                <li><a title="Twitter" href="#" target="_blank"><i class="fa fa-twitter"></i>Twitter</a></li>
                <li><a title="Skype" href="#" target="_blank"><i class="fa fa-skype"></i>Skype</a></li>
                <li><a title="Youtube" href="#" target="_blank"><i class="fa fa-youtube"></i>Youtube</a></li>
              </ul>
            </aside>
          </div>
        </nav>
      </header>
      <div id="example-wrapper">
        <div class="div-box">
          <div class="banner-subpage">
            <figure><img src="../static/images/background/bg-banner.jpg" alt="bg-banner"/></figure>
            <div class="banner-subpage-content">
              <h2>О нас</h2>
              <div class="desc">
              </div>
            </div>
          </div>
        </div>

        <div class="div-box text-top mt">
          <div class="container">
            <div class="text-center mb-20">
              <h2 class="title-style title-style-1 mb-20"><span class="title-left">Our </span><span class="title-right">Story</span></h2>
              <p><i>Lorem ipsum dolor sit amet, tellus sit, convallis wisi id magna faucibus lobortis mattis, tempus quisque bibendum suspendisse. Habitasse facilisi id <br/>ligula ut commodo ac erat sed blandit mauris, consequat cras elit vitae vel vel, amet eget fringilla wisi non. Tincidunt morbi qui.</i></p>
            </div>
            <div class="text-left mb-20">
              <h2 class="mb-20">We Make Your Happy House</h2>
              <p class="mb-20">Lorem ipsum dolor sit amet, tellus sit, convallis wisi id magna faucibus lobortis mattis, tempus quisque bibendum suspendisse. Habitasse facilisi id ligula ut donec sodales, commodo ac erat sed blandit mauris, consequat cras elit vitae vel vel, amet eget fringilla wisi non. Tincidunt morbi qui. Mauris dictum amet in, et duis nunc, integer lorem eget porttitor, egestas nec dictum dolor pretium, odio ipsum urna.</p>
              <p class="mb-20">Quis felis nunc, eu vestibulum sit wisi a id eu, etiam sit mauris odio torquent, congue donec metus tortor. Morbi rhoncus facilisis porta blandit, elit ipsum vivamus, nibh vivamus mauris ridiculus, dictum a luctus leo.</p>
            </div>
          </div>
        </div>

        <div class="div-box who-we-are">
          <div class="container">
            <div class="row mt-20 mb-45">
              <div class="col-md-6 col-sm-6">
                <div class="img-left"><img src="../static/images/demo/about-us-2.jpg" alt="about-us"/></div>
              </div>
              <div class="col-md-6 col-sm-6">
                <div class="who-we-are-right">
                  <h2 class="mt-20 mb-20">Кто мы?</h2>
                  <p class="mb-20">Lorem ipsum dolor sit amet, id velit vivamus donec vitae nulla sem, tincidunt adipis cingac amet vestibulum pede vestibulum, tincidunt convallis at tellus cras sagittis orci, sem iaculis nibh nunc ac. Eros donec vivamus dictum ultricies, turpis sapen fauci bus, duis nulla. Dui vehicula morbi lacus et lobortis.</p>
                  <p class="mb-20">Morbi eros habitant wisi nibh, donec congue quam aenean. Nulla nam quis egestas urna id, hendrerit phasellus ac quis lacus nunc, venenatis vitae sapien diam, justoer los. Nisl vivamus morbi nulla potenti amet ultrices.</p>
                  <div class="sing-bottom text-right">
                    <figure><img src="../static/images/demo/sign.png" alt="about-us"/></figure>
                    <p class="blod color-80808">Arthur Miller - CEO</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="sep-ab-pg text-center mb-45"><img src="../static/images/demo/sep-ab-pg.png" alt="sep-ab-pg"/></div>
          </div>
        </div>

        <div class="div-box text-color text-center">
          <div class="conatiner">
            <p class="mb-20 font-36"><span>We’re </span><a href="#" class="color-base"><strong>Begreen, </strong></a><span>We Know </span><a href="#" class="color-base"><strong>New York </strong></a><span>Plants!</span></p>
            <p>We source all indoor plants and planters from our trusted network of growers, artisans, designers, and manufacturers to meet the unique needs of </p>
            <p class="mb-45">your business. Schedule your complimentary on-site Plant Design Consultation by completing the form.</p>
            <p><a href="#" class="btn btn-16">Купить сейчас</a></p>
          </div>
        </div>

        <div class="div-box mt mb">
          <div class="container">
            <div class="home-3-our-services-content text-center">
              <h2 class="title-style title-style-1 mb-45"><span class="title-left">Наши </span><span class="title-right">услуги</span></h2>
            </div>
            <div class="row">
              <div class="col-md-3 col-sm-6">
                <div class="style_4 icon-box-shortcode-wrap">
                  <div class="icon-box-container">
                    <div class="icon-wrap">
                      <div class="icon-main bg-1f2a37"><span class="fa fa-leaf color-fff"></span></div>
                    </div>
                    <div class="icon-content">
                      <div class="icon-title"> Ченибудьтам </div>
                      <p class="icon-description">Lorem ipsum dolor sit amet, morbi justo sit lacinia vestibulum.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="style_4 icon-box-shortcode-wrap">
                  <div class="icon-box-container">
                    <div class="icon-wrap">
                      <div class="icon-main bg-1f2a37"><span class="fa fa-truck color-fff"></span></div>
                    </div>
                    <div class="icon-content">
                      <div class="icon-title"> Бесплатная доставка </div>
                      <p class="icon-description">Lorem ipsum dolor sit amet, morbi justo sit lacinia vestibulum.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="style_4 icon-box-shortcode-wrap">
                  <div class="icon-box-container">
                    <div class="icon-wrap">
                      <div class="icon-main bg-1f2a37"><span class="fa fa-user-secret color-fff"></span></div>
                    </div>
                    <div class="icon-content">
                      <div class="icon-title"> 100% Гарантия </div>
                      <p class="icon-description">Lorem ipsum dolor sit amet, morbi justo sit lacinia vestibulum.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="style_4 icon-box-shortcode-wrap">
                  <div class="icon-box-container">
                    <div class="icon-wrap">
                      <div class="icon-main bg-1f2a37"><span class="fa fa-diamond color-fff"></span></div>
                    </div>
                    <div class="icon-content">
                      <div class="icon-title"> 7 дней на возврат средств </div>
                      <p class="icon-description">Lorem ipsum dolor sit amet, morbi justo sit lacinia vestibulum.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="div-box">
          <footer id="yolo-footer-wrapper">
            <div class="yolo-footer-wrapper footer-3">
              <div class="footer-col">
                <h2><a href="{% url 'main_page' %}" class="logo"><img src="../static/images/logo/logo-footer.png" alt="logo1" width="84" height="63" class="vc_single_image-img attachment-full"/></a></h2>
                <ul id="social-footer">
                  <li><a href="#" target="_blank"><i class="fa fa-skype"></i></a></li>
                  <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#" target="_blank"><i class="fa fa-vk"></i></a></li>
                </ul>
              </div>
            </div>
          </footer>
        </div>

      </div>
    </div>
    <!-- .mv-site-->



    <div class="popup-wrapper">
    </div>
    <!-- .popup-wrapper-->
    <div class="click-back-top-body">
      <button type="button" class="sn-btn sn-btn-style-17 sn-back-to-top fixed-right-bottom"><i class="btn-icon fa fa-angle-up"></i></button>
    </div>

    <!-- Vendor jQuery-->
    <script type="text/javascript" src="../static/libs/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="../static/libs/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/libs/animate/wow.min.js"></script>
    <script type="text/javascript" src="../static/libs/jquery.mmenu.all/jquery.mmenu.all.min.js"></script>
    <script type="text/javascript" src="../static/libs/countdown/jquery.countdown.min.js"></script>
    <script type="text/javascript" src="../static/libs/jquery-appear/jquery.appear.min.js"></script>
    <script type="text/javascript" src="../static/libs/jquery-countto/jquery.countTo.min.js"></script>
    <script type="text/javascript" src="../static/libs/direction/js/jquery.hoverdir.js"></script>
    <script type="text/javascript" src="../static/libs/direction/js/modernizr.custom.97074.js"></script>
    <script type="text/javascript" src="../static/libs/isotope/isotope.pkgd.min.js"></script>
    <script type="text/javascript" src="../static/libs/isotope/fit-columns.js"></script>
    <script type="text/javascript" src="../static/libs/isotope/isotope-docs.min.js"></script>
    <script type="text/javascript" src="../static/libs/mansory/mansory.js"></script>
    <script type="text/javascript" src="../static/libs/prettyphoto-master/js/jquery.prettyPhoto.js"></script>
    <script type="text/javascript" src="../static/libs/slick-sider/slick.min.js"></script>
    <script type="text/javascript" src="../static/libs/countdown-timer/js/jquery.final-countdown.min.js"></script>
    <script type="text/javascript" src="../static/libs/countdown-timer/js/kinetic.js"></script>
    <script type="text/javascript" src="../static/libs/owl.carousel.min/owl.carousel.min.js"></script>
    <script type="text/javascript" src="../static/js/main.js"></script>
  </body>
</html>
